<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
    debug="false">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%-16t] %-25c{1} - %m%n" />
        </layout>
    </appender>

    <appender name="FILE" class="org.apache.log4j.FileAppender">
        <param name="File" value="${log.path}/test.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%-12t] %-25c{2} - %m%n" />
        </layout>
    </appender>

    <appender name="EXECUTION" class="org.apache.log4j.FileAppender">
        <param name="File" value="${log.path}/${log.name}" />
        <param name="append" value="false" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d] %m%n" />
        </layout>
    </appender>

    <logger name="TEST">
        <level value="INFO" />
    </logger>

    <logger name="EXECUTION">
        <level value="INFO" />
        <appender-ref ref="EXECUTION" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <root>
        <priority value="DEBUG" />
        <appender-ref ref="FILE" />
    </root>

</log4j:configuration>